
.card {
    background-color: var(--background-alt-color);
    padding: var(--x3-gap);
    margin: var(--x3-gap) 0;
    border-radius: 10px;
}

.ghost-card {
    border:2px solid var(--background-alt-color);
    padding: var(--x3-gap);
    border-radius: 10px;
}

.clickable-title {
    text-decoration: underline;
    text-decoration-color: var(--primary);

    &:hover {
        text-decoration-color: var(--primary-alt-inverse);
    }
}
