
menu {
    @media only screen and (max-width: 991px) {
        position: absolute;
        top: 15px;
        right: 50px;
        width: auto !important;
        font-size: .8rem;
    }
}

.top {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: var(--top-bar-height);
    backdrop-filter: blur(10px);
    background-image: linear-gradient(to top, var(--background-trans-color) 0%, var(--background-trans-color) 30%, var(--background-color) 60%, var(--background-color) 75%, var(--primary-pastel) 100%);
}

.top-logo-wrap {
    @media only screen and (max-width: 991px) {
    }
}

.theme-selector {
    @media only screen and (max-width: 991px) {
        position: absolute;
        right: 15px;
        top: 20px;
    }
}

.top-logo {
    --logo-light: url("~/assets/logo-light.svg");
    --logo-dark: url("~/assets/logo.svg");

    display: inline-block;
    width: 180px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--logo-light);
    background-position: center;

    @media only screen and (max-width: 991px) {
        width: 70px;
        height: 70px;
    }
}

.menu-item {
    color: var(--primary-text);
    border-bottom: 1px solid var(--primary-text);
    text-decoration: none;
    font-weight: 300;

    @media only screen and (max-width: 991px) {
        font-weight: 600;
        border-bottom: 0
    }
}

.menu-item--active {
    border-bottom: 1px solid var(--primary);
}

.menu-item:hover {
    border-color: var(--primary);
}


[data-theme="light"] {
    .top-logo {
        background-image: var(--logo-dark)
    }
}

[data-theme="dark"] {
    .top-logo {
        background-image: var(--logo-light)
    }
}

@media only screen and (prefers-color-scheme: light) {
    :root:not([data-theme]) {
        .top-logo {
            background-image: var(--logo-dark)
        }
    }
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        .top-logo {
            background-image: var(--logo-light)
        }
    }
}
